<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<LINK rel="Bookmark" href="/favicon.ico" >
	<LINK rel="Shortcut Icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/h_ui/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/h_ui/static/h-ui.admin/css/H-ui.admin.css" />
	<style>
		.input-text1-15 {
			width: 15%;
		}

		.input-text1-25 {
			width: 25%;
		}
		label.intro {
			color: red;
		}
	</style>
</head>
<body>
<div class="page-container">
	<form action=""  class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">可用金额：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text1 input-text1-15" value="{$res.available_money}" readonly>
				<label style="margin-left: 1%;" class="">元</label>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">交易中金额：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text1 input-text1-15" value="{$res.indeal_money}" readonly>
				<label style="margin-left: 1%;" class="">元</label>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">提现中金额：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text1 input-text1-15" value="{$res.tixian_money}" readonly>
				<label style="margin-left: 1%;" class="">元</label>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/layer/2.1/layer.js"></script>
</body>
</html>