{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('reserve/save')}" onsubmit="return checkParams();">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span> 桌位名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width: 35%;" type="text" class="input-text" value="" placeholder="" id="table_name" name="table_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span> 预定金：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" style="width: 25%;" class="input-text" value="" placeholder="" id="deposit" name="deposit"> 元
			</div>
		</div>
		<div class="row cl">
			<div  class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<script>
	function checkParams(){
		table_name = document.getElementById('table_name').value;
		deposit = document.getElementById('deposit').value;
		if(!deposit || !deposit){
			alert('请补全信息!');
			return false;
		}
		return true;
	}
</script>
<!--包含头部文件-->
{include file="public/footer" /}
