<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 团队管理 <span class="c-gray en">&gt;</span> 团队管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<a style="font-size: 20px;" href="{:url('team/detail2')}">进行中团队</a>
	<label style="font-size: 20px;margin-left: 2%;color:red;">已完成团队</label>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="80">ID</th>
					<th width="80">一层</th>
					<th width="80">二层a</th>
					<th width="80">二层b</th>
					<th width="80">三层a</th>
					<th width="80">三层b</th>
					<th width="80">三层c</th>
					<th width="80">三层d</th>
					<th width="80">推荐人</th>

				</tr>
			</thead>
			<tbody>
				{volist name="res" id="vo"}
					<tr class="text-c">
						<td><a style="color:#5B892E;" href="{:url('team/getDetail',['id'=>$vo.t_id])}">{$vo.t_id}</a></td>
						<td>{$vo.a.' '.$vo.a_name}</td>
						<td>{$vo.b1.' '.$vo.b1_name}</td>
						<td>{$vo.b2.' '.$vo.b2_name}</td>
						<td>{$vo.c1.' '.$vo.c1_name}</td>
						<td>{$vo.c2.' '.$vo.c2_name}</td>
						<td>{$vo.c3.' '.$vo.c3_name}</td>
						<td>{$vo.c4.' '.$vo.c4_name}</td>
						<td>{$vo.rec_id.' '.$vo.rec_name}</td>
					</tr>
				{/volist}
			</tbody>
		</table>
	</div>

</div>
<div class="zxf_pagediv"></div>
<!--包含头部文件-->
{load href="__STATIC__/admin/h_ui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/My97DatePicker/WdatePicker.js"></script>
{load href="__STATIC__/bis/js/common.js" /}

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__STATIC__/bis/js/zxf_page.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	current_page = $('.current').html();
	$(".zxf_pagediv").createPage({
		pageNum: {$pages},//总页码
		current : {$current_page},//当前页码
		backfun: function(e) {
			var temp = parseInt($('.current').html());
			if(!temp){
				choose_page = {$pages};
			}else{
				choose_page = temp;
			}
			location.href = "detail1?current_page="+choose_page;
		}
	});

	function typeSwitch(id){
		location.href = "detail2?id="+id;
	}
</script>
</body>

</html>