<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" type="text/css" href="__STATIC__/admin/h_ui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/h_ui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/h_ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/bis/css/common.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/bis/css/page.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>订单列表</title>
</head>
<body class="pos-r">
<div>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<form action="{:url('orders/cat_supply_index')}" method="get">
			<div style="margin-bottom: 0.5%;" class="">选择商铺：
				<span style="width: 15%;" class="select-box">
					<select name="bis_id" class="select bis_id">
						<option value="全部">全部</option>
						{volist name="bis_res" id="vo"}
						<option value="{$vo.bis_id}" {if condition="$bis_id eq $vo.bis_id"} selected="selected" {/if}>{$vo.bis_name}</option>
						{/volist}
					</select>
				</span>
			</div>
			<div style="margin-bottom: 0.5%;" class="">订单来源：
				<span style="width: 15%;" class="select-box">
					<select name="order_from" class="select">
						<option value="0">全部</option>
						<option value="1" {if condition="$order_from eq 1"} selected="selected" {/if}>个人店铺</option>
						<option value="2" {if condition="$order_from eq 2"} selected="selected" {/if}>多用户店铺</option>
					</select>
				</span>
			</div>
			<div class=""> 日期范围：
				<input type="date" name="date_from" value="{$date_from}" id="logmin" class="input-text" style="width:170px;">
				-
				<input type="date" name="date_to" value="{$date_to}" id="logmax" class="input-text" style="width:170px;">
			</div>
			<div style="margin-top: 0.5%;"> 订单状态:
				<input style="margin-left: 1%;" type="radio" name="order_status" value="0" id="all" {if condition="$order_status eq 0"} checked {/if} ><label for="all" style="margin-left: 0.5%;margin-right: 0.5%;">全部</label>
				<input type="radio" name="order_status" value="2" id="yiqueren" {if condition="$order_status eq 2"} checked {/if} ><label for="yiqueren" style="margin-left: 0.5%;margin-right: 0.5%;">未付款</label>
				<input type="radio" name="order_status" value="3" id="kuanyidao" {if condition="$order_status eq 3"} checked {/if} ><label for="kuanyidao" style="margin-left: 0.5%;margin-right: 0.5%;">已付款</label>
				<input type="radio" name="order_status" value="4" id="yifachu" {if condition="$order_status eq 4"} checked {/if} ><label for="yifachu" style="margin-left: 0.5%;margin-right: 0.5%;">已发货</label>
				<input type="radio" name="order_status" value="5" id="yishouhuo" {if condition="$order_status eq 5"} checked {/if} ><label for="yishouhuo" style="margin-left: 0.5%;margin-right: 0.5%;">已收货</label>
				<button name="" id="" class="btn btn-success radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<!--<th width="40"><input name="" type="checkbox" value=""></th>-->
						<th width="40">店铺</th>
						<th width="40">订单号</th>
						<th width="80">物流方式</th>
						<th width="40">下单客户</th>
						<th width="40">订货人姓名</th>
						<th width="40">付款方式</th>
						<th width="40">收货方式</th>
						<th width="40">订单来源</th>
						<th width="60">订单状态</th>
					</tr>
				</thead>
				<tbody>
					{volist name="res" id="vo"}
						<tr class="text-c va-m">
							<!--<td><input name="" type="checkbox" value=""></td>-->
							<td>{$vo.bis_name}</td>
							<td><a style="color:#5B892E;" href="{:url('orders/cat_supply_detail',['id'=>$vo.order_id])}">{$vo.order_no}</a></td>
							<td>{$vo.post_mode.$vo.express_no}</td>
							<td>{$vo.nickname}</td>
							<td>{$vo.rec_name}</td>
							<td>{$vo.payment}</td>
							<td>{$vo.post_mode}</td>
							<td>{$vo.order_from == 1 ? '个人店铺' : '多用户店铺'}</td>
							<td>{$vo.order_status|order_status}</td>
						</tr>
					{/volist}
				</tbody>
			</table>
		</div>
	</div>
	<div class="zxf_pagediv"></div>
</div>
</body>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__STATIC__/bis/js/zxf_page.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	current_page = $('.current').html();
	$(".zxf_pagediv").createPage({
		pageNum: {$pages},//总页码
		current : {$current_page},//当前页码
		backfun: function(e) {
			var temp = parseInt($('.current').html());
			if(!temp){
				choose_page = {$pages};
			}else{
				choose_page = temp;
			}
			var date_from = $('#logmin').val();
			var date_to = $('#logmax').val();
			var order_status = {$order_status};
			var bis_id = {$bis_id};
			var order_from = {$order_from};
			location.href = "cat_supply_index?current_page="+choose_page+"&date_from="+date_from+"&date_to="+date_to+"&order_status="+order_status+"&bis_id="+bis_id+"&order_from="+order_from;
		}
	});
</script>
</html>