<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 店铺充值 <span class="c-gray en">&gt;</span> 余额明细 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="{:url('recharge/mall_balance_detail')}" method="get">
		<label style="width: 10%;margin-top: 0.5%;" class="form-label col-xs-4 col-sm-2"></span>选择商铺：</label>
		<div class="">
			<span style="width: 15%;" class="select-box">
				<select name="bis_id" class="select bis_id">
					<option value="全部">全部</option>
					{volist name="bis_res" id="vo"}
						<option value="{$vo.bis_id}" {if condition="$bis_id eq $vo.bis_id"} selected="selected" {/if}>{$vo.bis_name}</option>
					{/volist}
				</select>
			</span>
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</div>
	</form>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="40">店铺名称</th>
					<th width="40">用户</th>
					<th width="40">金额</th>
					<th width="40">类型</th>
					<th width="40">创建时间</th>
				</tr>
			</thead>
			<tbody>
				{volist name="res" id="vo"}
					<tr class="text-c">
						<td>{$vo.r_id}</td>
						<td>{$vo.bis_name}</td>
						<td>{$vo.nickname}</td>
						<td>{$vo.amount}</td>
						<td>{$vo.type == 1 ? '充值' : '消费'}</td>
						<td>{$vo.created_at}</td>
					</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<div class="zxf_pagediv"></div>
{load href="__STATIC__/admin/h_ui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/bis/js/common.js" /}
{load href="__STATIC__/bis/js/category.js" /}

</body>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__STATIC__/bis/js/zxf_page.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".zxf_pagediv").createPage({
		pageNum: {$pages},//总页码
		current : {$current_page},//当前页码
		activepage: "current",
		activepaf: "nextpage",
		backfun: function(e) {
			var temp = parseInt($('.current').html());
			if(!temp){
				choose_page = {$pages};
			}else{
				choose_page = temp;
			}
			location.href = "mall_balance_detail?current_page="+choose_page;
		}
	});
</script>
</html>