<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 店铺充值 <span class="c-gray en">&gt;</span> 店铺充值 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="recharge('充值','{:url('recharge/add')}','','300')" href="javascript:;"><i class="Hui-iconfont"></i> 去充值</a></span> <span class="r"></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="40">充值金额</th>
					<th width="40">余额</th>
					<th width="40">充值方式</th>
					<th width="40">创建时间</th>
					<th width="40">更新时间</th>
					<!--<th width="100">操作</th>-->
				</tr>
			</thead>
			<tbody>
				{volist name="res" id="vo"}
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.amount}</td>
						<td>{$vo.balance}</td>
						<td>{$vo.pay_type == 1 ? '微信支付' : ($vo.pay_type == 2 ? '支付宝支付' : '未知')}</td>
						<td>{$vo.created_at}</td>
						<td>{$vo.updated_at}</td>
						<!--<td class="td-manage"><a href="{:url('category/index',['parent_id'=>$vo.id])}">获取子栏目</a><a style="text-decoration:none" class="ml-5" onClick="o2o_s_edit('编辑','{:url('category/edit',['id'=>$vo.id])}','',300)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="o2o_del('{:url('category/updateStatus',['id'=>$vo.id,'status' =>-1])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>-->
					</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<div class="zxf_pagediv"></div>
{load href="__STATIC__/admin/h_ui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/bis/js/common.js" /}
{load href="__STATIC__/bis/js/category.js" /}


<script>
	var SCOPE = {
		'listorder_url'  :  "{:url('category/listorder')}"
	};
	/*图片-添加*/
	function recharge(title,url){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
</script>
</body>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__STATIC__/bis/js/zxf_page.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".zxf_pagediv").createPage({
		pageNum: {$pages},//总页码
		current : {$current_page},//当前页码
		activepage: "current",
		activepaf: "nextpage",
		backfun: function(e) {
			var temp = parseInt($('.current').html());
			if(!temp){
				choose_page = {$pages};
			}else{
				choose_page = temp;
			}
			location.href = "index?current_page="+choose_page;
		}
	});
</script>
</html>