{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" enctype="multipart/form-data" method="post" action="{:url('recommend/save')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>轮播图图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" value="" id="name" name="image">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>跳转链接：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  id="redirect_url" name="redirect_url">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>轮播图栏目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="type" class="select type">
					<option value="">--请选择--</option>
					<option value="1">首页轮播图</option>
					<!--<option value="2">其他位置</option>-->
				</select>
				</span>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<script>
	var SCOPE = {
		'cat_url'  : "{:url('category/getCategorysInfo')}"
	}
</script>
<!--包含头部文件-->
{include file="public/footer" /}
