{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" enctype="multipart/form-data" method="post" action="{:url('advertisement/save')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告位图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" value="" id="name" name="img_url">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>跳转链接：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input style="width: 30%;font-size: 12px;" type="text" class="input-text"  id="jump_url" name="jump_url" placeholder="形如 /pages/home/home">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告位栏目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span style="width: 30%;" class="select-box">
				<select name="type" class="select type">
					<option value="1">商城广告位</option>
					<option value="2">餐饮广告位</option>
				</select>
				</span>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
